<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<title>INDEX</title>
</head>

<body style="background: #F4F5F7;">

	<nav class="navbar navbar-expand-lg class=" navbar" style="background-color: #D8D9DB;"">
	  <div class=" container-fluid">
		<img th:src="@{jira.png}" <a class="navbar-brand" href="#" style="margin-left: 20px;"></a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" th:href="@{/ticket}">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/ticket/create}">Create a ticket</a>
				</li>
				
			</ul>
			<form class="d-flex" role="search" th:action="@{/ticket}" method="get" >
				<input class="form-control me-2" type="text" name="title" placeholder="Filter by Title">
				<button class="btn btn-outline-success" type="submit">Filter</button>
			</form>
		</div>
		</div>
	</nav>

	<div class="container">
		<div class="text-center">
			<h2 class="pt-4">System Dashboard</h3>
		</div>

		

			
				<table id="table-1" class="table table-striped">
					<thead>
						<tr>
							<th>TITLE</th>
							<th>TEXT AREA</th>
							<th>DUE DATE</th>
							<th>DEVELOPER</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ticket : ${list}">
							<td th:text="${ticket.title}">1</td>
							<td th:text="${ticket.textArea}">1</td>
							<td th:text="${ticket.dueDate}"></td>
							<td th:text="${ticket.utenti?.username}"></td>

						</tr>
					</tbody>

				</table>

		<div class="mb-3">
			<a class="btn btn-primary" th:href="@{/ticket/create}" sec:authorize="hasAuthority('ADMIN')"> Crea nuovo
			</a>
		</div>
		<div th:if="${list.isEmpty()}">
			<span> La ricerca non ha prodotto risultati </span>
		</div>
	</div>

	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>